<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cocktail Database</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">〇〇レストラン</h2>
        <h1 class="title">Cocktail Database</h1>
        <p class="description">
          Cocktail Databaseは、
          <br>
          オリジナルのカクテルレシピをデータベースにし、
          <br>
          管理できるサービスです。
          <br>
          <br>
          ベース別の検索が可能です。
          <br>
          また、登録されているカクテルは管理者ページより追加、編集、削除がすることができます。
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
    </div>
  </body>
</html>